body {
    font-family:微软雅黑;
    background: #ebebeb;}
.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 200px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;

}
.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -34px;
}
.logotxt {
    margin-bottom: 30px;
    border: 0;
}
.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}
.post .post-head {
    text-align: center;
}
.post .post-head .post-title {
    margin: 0;
    font-size: 2.0em;
    line-height: 1.2em;
}
.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0px;
}
.post .featured-media {
    margin-top: 30px;
    overflow: hidden;
}
.featured-media img{ width: 100%; height: auto;max-width: 100%; display: block; }

.pic-container{
    overflow: hidden;
    padding: 1px;
    cursor: pointer;
}
.leftMeun {
    /*position: absolute;*/
    box-sizing: border-box;
    /*width: 200px;*/
    height: 1000px;
    background: #4d5e70 bottom;
}
.leftMeun >div {
    padding-left: 60px;
}

.meun-item {
    line-height: 40px;
    height: 40px;
    color: #aab1b7;
    cursor: pointer;
    font-size:17px
}
.meun-item-active {
    background-color: #3d4e60;
    border-right: 4px solid #647f9d;
    color: #fff;
    font-size:17px
}
.meun-title {
    color: #828e9a;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}